.cart {
    padding: 0 1em;
}

.cart__title {
    margin-top: 0;
}

.cart__item {
    padding: 1.5em;
    margin-bottom: 2em;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
}

.cartview__price-one {
    font-size: 0.8em;
    color: grey;
    margin-top: -5px;
    margin-left: 0.5em;
}

.cartview__count {
    display: inline-block;
    border: 1px solid;
    background-color: #fff;
    padding: 6px 16px;
    border-radius: 9px;
    margin: 5px;
    vertical-align: middle;
}

.cart__item .MuiButtonBase-root.MuiButton-containedPrimary {
    min-width: auto;
}



@media screen and (min-width: 900px) {
    .cart__item {
        flex-wrap: nowrap;
    }
    .cartview__count {
        padding: 6px 10px;
    }
    .cartview__price {
        font-size: 20px;
    }
}